<header>
  <div class="text-center">
    <a ng-click="prevPlayer()" class="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <h4>Spieler {{playerIndex + 1}}: <strong>{{activePlayer.name}}</strong></h4>
    <a ng-click="nextPlayer()" class="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</header>
<div class="table-wrapper">
  <table class="fill game" cellpadding="0" cellspacing="0" ng-model="activePlayer" ng-swipe-left="nextPlayer()" ng-swipe-right="prevPlayer()">
    <tbody>
      <tr class="text-center">
        <td ng-click="select(20,true, 1)" class="light-bg" ng-class="{'active' : selectedIndex==20}"><h3>20</h3></td>
        <td ng-click="select(18,true, 1)" ng-class="{'active' : selectedIndex==18}"><h3>18</h3></td>
        <td ng-click="select(16,true, 1)" class="light-bg" ng-class="{'active' : selectedIndex==16}"><h3>16</h3></td>
      </tr>
      <tr class="text-center">
        <td ng-click="select(14,true, 1)" ng-class="{'active' : selectedIndex==14}"><h3>14</h3></td>
        <td ng-click="select(12,true, 1)" class="light-bg" ng-class="{'active' : selectedIndex==12}"><h3>12</h3></td>
        <td ng-click="select(10,true, 1)" ng-class="{'active' : selectedIndex==10}"><h3>10</h3></td>
      </tr>
      <tr class="text-center">
        <td ng-click="select(8,true, 1)" class="light-bg" ng-class="{'active' : selectedIndex==8}"><h3>8</h3></td>
        <td ng-click="select(6,true, 1)" ng-class="{'active' : selectedIndex==6}"><h3>6</h3></td>
        <td ng-click="select(4,true, 1)" class="light-bg" ng-class="{'active' : selectedIndex==4}"><h3>4</h3></td>
      </tr>
    </tbody>
  </table>
</div>
<footer>
  <div class="progress"></div>
  <div class="text-center">
    <div class="col-xs-4">
      <a ng-click="prevTarget()" ng-show="target > 1"><span class="glyphicon glyphicon-minus"></span>&nbsp;&nbsp;Ziel</a>
    </div>
    <div class="col-xs-4">
      <a ng-click="showResults()"><span class="glyphicon glyphicon-info-sign"></span></a>
      <h4><strong>{{target}}</strong></h4>
    </div>
    <div class="col-xs-4">
      <a ng-click="nextTarget()">Ziel&nbsp;&nbsp<span class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
</footer>
